$black: #000000;
$white: #ffffff;
$red: #FF4B32;
$black-second: #0C0D0C;
$border: #0D0402;
$brown: #2e1002c2;

$tablet-width: 660px;
$desktop-width: 1100px;
.container {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width:$tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (min-width:$desktop-width) {
    padding-left: 140px;
    padding-right: 140px;
  }
}